@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  overflow: hidden;
}
section
{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #000000,#000000);
}
section .color
{
  position: absolute;
  filter:blur(150px);
}
section .color:nth-child(1)
{
  top: -350px;
  width: 600px;
  height: 600px;
  background: #2ddff3;
}
section .color:nth-child(2)
{
  bottom: 200px;
  left: 100;
  width: 500px;
  height: 500px;
  background: #ffffff;
}
section .color:nth-child(3)
{
  bottom: 50px;
  left: 100;
  width: 300px;
  height: 300px;
  background: #00D2FF;
}
section .color:nth-child(4)
{
  left: 0;
  width: 900px;
  height: 900px;
  background: #03BCF4;
}
section .color:nth-child(5)
{
  right: 0;
  width: 800px;
  height: 800px;
  background: #00cafc;
}
.box
{
  position: relative;
}
.box .square
{
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate
{
  0%,100%
  {
    transform: translateY(-40px);
  }
  50%
  {
    transform: translateY(40px);
  }
}
.box .square:nth-child(1)
{
  bottom: -240px;
  left: 650px;
  width: 300px;
  height: 300px;
  z-index: 0;
}
.box .square:nth-child(2)
{
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
}
.box .square:nth-child(3)
{
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.box .square:nth-child(4)
{
  bottom: -100px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.box .square:nth-child(5)
{
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
}
.box .square:nth-child(6)
{
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(7)
{
  bottom: 300px;
  left: -250px;
  width: 200px;
  height: 200px;
}
.box .square:nth-child(8)
{
  top: -50%;
  left: -190%;
  width: 450px;
  height: 450px;
  z-index: 1;
}
.box .square:nth-child(9)
{
  top: -200px;
  right: -400px;
  width: 320px;
  height: 320px;
  z-index: 0;
}
.box .square:nth-child(10)
{
  top: 200px;
  left: 620px;
  width: 500px;
  height: 500px;
  z-index: 1;
}
.box .square:nth-child(11)
{
  bottom: -250px;
  left: -400px;
  width: 320px;
  height: 320px;
}
.box .square:nth-child(12)
{
  top: 400px;
  right: -150px;
  width: 200px;
  height: 200px;
}
.box .square:nth-child(13)
{
  bottom: 380px;
  right: 100px;
  width: 220px;
  height: 220px;
}
.box .square:nth-child(14)
{
  top: 410px;
  left: 0px;
  width: 220px;
  height: 220px;
  z-index: 1;
}
.box .square:nth-child(15)
{
  top: 350px;
  right: 450px;
  width: 920px;
  height: 920px;
  z-index: 0;
}
.box .square:nth-child(16)
{
  bottom: 250px;
  left: 450px;
  width: 920px;
  height: 920px;
  z-index: 0;
}
.box .square:nth-child(17)
{
  top: -240px;
  right: 850px;
  width: 300px;
  height: 300px;
  z-index: 0;
}
.container
{
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.form
{
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}
.form h2
{
  position: relative;
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
.form h2::before
{
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 270px;
  height: 4px;
  background: #FFF;
}
.form .inputBox
{
  width: 100%;
  margin-top: 20px;
}
.form .inputBox input
{
  width: 100%;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  letter-spacing: 1px;
  color: #FFF;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
.form .inputBox input::placeholder
{
  color: #FFF;
}
.form .inputBox input[type=submit]
{
  background: #FFF;
  color: #666;
  max-width: 150px;
  cursor: pointer;
  margin-bottom: 20px;
  font-weight: 600;
}
.forget
{
  margin-top: 5px;
  color: #FFF;
}
.forget a
{
  color: #FFF;
  font-weight: 600;
}